<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <style>
        .skills-container {
            background-color: #ffffff; 
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            font-family: 'Poppins', sans-serif;
            color: #333333; 
        }

        .skills-container h2 {
            font-size: 36px;
            margin-bottom: 20px;
            color: #ff6347; 
            font-weight: 600;
        }

        .skills-container h3 {
            font-size: 24px;
            margin-top: 20px;
            margin-bottom: 10px;
            color: #ff6347; 
            font-weight: 400;
        }

        .skills-container ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .skills-container li {
            font-size: 18px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <section class="skills-container">
        <h2>Skills</h2>
        <div class="section">
            <h3>Software Skills:</h3>
            <ul>
                @foreach (var skill in (List<string>)ViewData["SoftwareSkills"])
                {
                        <li>@skill</li>
                }
            </ul>
        </div>
        <div class="section">
            <h3>Others:</h3>
            <ul>
                >
                @foreach (var Others in (List<string>)ViewData["OtherSkills"])
                {
                                <li>@Others</li>
                }
            </ul>
        </div>
        <div class="section">
            <h3>Programming Languages:</h3>
            <ul>
                @foreach (var language in ViewBag.ProgrammingLanguages)
                {
                        <li>@language</li>
                }
        </div>
        <div class="section">
            <h3>Front-end technologies:</h3>
            <ul>
                @foreach (var tech in ViewBag.FrontEndTechnologies)
                {
                        <li>@tech</li>
                }
            </ul>
        </div>
    </section>
</body>
